* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #fefefe
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #121212;
}

button {
    width: 235px;
    height: 51px;

    background: #FFB61D;
    border-radius: 8px;

    font-size: 20px;
    line-height: 33px;

    color: #FFFFFF;

    border: none;
}

button:hover {
    background: #FFC048;
}

.container {
    max-width: 1440px;
    margin: 40px auto;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 150px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-right: 20px;
}

header nav ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #121212;
}

header nav ul .line {
    width: 1px;
    height: 21px;
    background: #DDDDDD;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}

.main-text {
    width: 431px;
}

.main-text h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    color: #121212;
}

.main-text p {
    margin-top: 16px;
    margin-bottom: 48px;
}


.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}

.section-1-text {
    width: 560px;
}

.section-1-text h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #121212;
    margin-bottom: 15px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 150px;
}

.section-2-text {
    display: flex;
    gap: 80px;
}

.section-text-row {
    width: 280px;
    margin-top: 98px;

}

.section-text-row h3 {
    font-weight: 700;
    font-size: 26px;

    line-height: 35px;
    color: #121212;

    margin-bottom: 15px;

    text-align: center;
}

.section-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-3-text {
    width: 560px;
}

.section-3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;

    color: #121212;
}

.section-3-text p {
    margin: 16px 0;
}

.input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-3-text input {
    width: 318px;
    height: 51px;


    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.section-3-text input::placeholder {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;

    opacity: 0.5;
    padding-left: 20px;

    color: #828282;
}

@media (max-width:1116px) {
    * {
        overflow-x: hidden;
    }
}

@media (max-width:1127px) {

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }

    button {
        width: 150px;
        height: 35px;
        font-size: 12px;
    }

    .container {
        margin: 0 auto;
        border: 1px solid red;
    }


    .header-container {
        margin: 30px;
    }

    main {
        justify-content: space-around;
    }

    .main-text {
        width: 350px;
    }

    .main-text h1 {
        font-size: 40px;
        line-height: 48px;

    }

    .section-1 {
        justify-content: space-around;
    }

    .section-1-text {
        width: 350px;
    }

    .section-1-text h2 {
        font-size: 25px;
    }

    .section-2-text {
        gap: 45px;
    }

    .section-text-row {
        width: 180px;
        margin-top: 68px;
    }

    .section-text-row h3 {
        font-size: 20px;
    }

    .section-text-row p {
        font-size: 15px;
    }

    .section-3 {
        justify-content: space-around;
    }

    .section-3-text {
        width: 350px;
    }

    main img,
    .section-1 img,
    .section-3 img {
        width: 400px;
    }

    .section-3-text {
        width: 350px;
    }

    .section-3 {
        font-weight: 700;
        font-size: 25px;
        line-height: 58px;

        color: #121212;
    }

    .section-3-text p {
        margin: 16px 0;
    }

    .section-3-text input {
        width: 200px;
        height: 30px;
    }

    .section-3-text input::placeholder {
        font-size: 15px;
    }

}

@media (max-width:836px) {

    main img,
    .section-1 img,
    .section-3 img {
        width: 250px;

    }
}

@media (max-width:500px) {
    header {
        flex-direction: column;
        margin-bottom: 50px;
    }

    header nav ul {
        margin-top: 15px;
        gap: 15px;
    }

    main{
        flex-direction: column;
    }
    .main-text{
        width: auto;
        text-align: center;
    }

    .main-text p{
        margin-bottom: 35px;
    }
    
    .main-text button{
        margin-bottom: 5px;
    }

    .main-img img{
        display: none;
    }

    .section-1{
        flex-direction: column-reverse;
    }

    .section-1-text{
        width: auto;
        text-align: center;
        margin-bottom: 45px;
    }

    .section-1 img{
        width: 310px;
    }

    .section-2{
        width: auto;
        text-align: center;
    }

    .section-2-text{  
        flex-direction: column;
        text-align: justify;
        gap: 0px
    }

    .section-text-row {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .section-text-row h3{
        margin-bottom: 1px;
    }

    .section-3{
        flex-direction: column-reverse;
    }

    .section-3-text{
        width: auto;
        text-align: center;
        width: 250px;
    }

    .section-3-text input::placeholder{
        padding: 5px;
        font-size: 12px;
    }
}